.mc {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 12px;
  background: #ffffff;
  border-bottom: 1px solid #ffffff;
    border: 2px solid black;
    justify-content: space-between;
    height: 70px;
    
}
.logo {

    width: 120px;
}
.meucarrinho {
   margin-left: auto;
   margin-right: auto;
}
.cv {

  height: 20px;
  width: 20px;
 margin-right: 20px;
}
.foto{
height: 40px;
 border-radius: 50px;


}
.nome:hover {
        text-decoration: underline;
        
}
.nome {
    margin-right: 100px;
}
body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
}

.topo {
    text-align: center;
    padding: 20px 0;
    background: white;
    border-bottom: 1px solid #ddd;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 30px auto;
    gap: 30px;
    padding: 0 20px;
}

.carrinho {
    flex: 2;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.item {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #eee;
    border-radius: 10px;
}

.foto-produto {
    width: 100px;
    height: 150px;
}

.info h3 {
    font-size: 16px;
    margin: 0;
}

.acoes {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.acoes button {
    padding: 5px 10px;
    font-size: 16px;
}

.acoes input {
    width: 40px;
    text-align: center;
}

.preco-pix {
    margin-left: auto;
    font-weight: bold;
    color: #008000;
}

.resumo {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 10px;
    height: fit-content;
}

.linha {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.total {
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.pix {
    text-align: center;
    font-size: 20px;
    color: green;
}

.ou {
    text-align: center;
    margin: 10px 0;
}

.finalizar {
    width: 100%;
    padding: 12px;
    background: #00a000;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    margin-top: 15px;
    cursor: pointer;
}

.continuar {
    width: 100%;
    padding: 12px;
    background: #ddd;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 8px;
}
p{

    color: red;
    text-align: center;
}