.mf {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 12px;
  background: #ffffff;
  border-bottom: 1px solid #ffffff;
    border: 2px solid black;
    justify-content: space-between;
    height: 70px;
    
}
.logo {

    width: 120px;
}
.favorito {
   margin-left: auto;
   margin-right: auto;
}
.cv {

  height: 20px;
  width: 20px;
 margin-right: 20px;
}
.foto{
height: 40px;
 border-radius: 50px;


}
.nome:hover {
        text-decoration: underline;
        
}
.nome {
    margin-right: 100px;
}
body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
}

.topo {
    text-align: center;
    padding: 20px 0;
    background: white;
    border-bottom: 1px solid #ddd;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 30px auto;
    gap: 30px;
    padding: 0 20px;
}